@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    color: white;
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    min-width: 375px;

    /* display: flex;
     row-gap: 0; */

    display: flex;
    flex-direction: column;

}

main {
    background-image: radial-gradient(rgb(63, 194, 63), rgb(180, 236, 160));
    flex-grow: 1;

    display: grid;
    place-content: center;
    color: orangered;
}

.slab {
    display: grid;
    place-content: center;
    grid-template-columns: 100%;

    background-color: rebeccapurple;
    text-align: center;
}


header {
    position: sticky;
    top: 0;
}

footer {
    position: sticky;
    bottom: 0;
}

@media screen and (max-width: 375px){
    body {
        font-size: 0.5rem;
    }
    
}



@media screen and (max-width: 680px) {
    body {
        font-size: 0.5rem;
    }

    nav {
        background-color: rgb(208, 55, 31);
    }

    nav ul {
        list-style: none;
    }

    nav ul li {
        display: inline;
        color: white;
        text-decoration:dashed;
        font-size: 1rem;
        padding-right: 10px;
    }
    
}

@media screen and (min-width: 675px) {
    nav {
        display: none;
    }
}

a:visited {
    color: white;
}

a {
    color: white;
}

.container {

    padding: 20px;
    
   /*  border: 2px solid #000; */
    display: flex;
    flex-flow: row wrap;

    justify-content: space-between;

    align-content: space-evenly;

    gap: 1rem;

    /* background-color: #086184; */


    font-size: 200%;
}

.card {
    margin: auto;

    min-width: 300px;
    min-height: 400px;
    background-color: rgb(61, 9, 203);
    border: 1px solid #450606;

    display: flex;
    flex-direction: column;
    border-radius: 16%;
}

.name, .photo, .fact {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: nowrap;
    
}

.name {
    font-weight:900;
    top: 0;
    padding-top: 20px;
    text-decoration: underline;
}

.photo {
    flex-grow: 1;

    
    margin: 30px;
    border-radius: 50%;
    border: 2px double orangered;
}

.photo img {
    border-radius: 50%;

}

.fact {
    bottom: 0;
    padding-bottom: 20px;
    color: whitesmoke;
    font-weight: 300;
}